<div class="content main">
  <div class="block">
    <h1 id="title">SDEV1090 Version Control Fundamentals</h1>

    <p>This class taught the basics of using Git. I learned the basic commands to use Git within a command line. It
      followed this by teaching how to use Git with a gui and within Visual studios. I learned how to create a git
      locally or create a repository online using tools such a Bitbucket and Github. The class also taught how to use
      branching to make changes without immediately effecting the master code. Then when finished with those changes how
      to merge them back together. </p>
    <p>This class really taught me the importance of version control. There were some great examples from people who
      didn't use version control on big projects and what happened to their projects when different versions where being
      worked on at the same time. Throughout this course there were several assignments that required me to create
      branches and working on several different things at once. I had to finish making the each change before merging
      them back into the master. I think this course will really help me in any field of work where I am working with
      code. Being able to do the basics with Git to manage different versions of code at once will be very useful.</p>
  </div>
  <div class="block">
    <img src="/assets/Git2.png" alt="Git hub logo">

    <img id="bitbucket" src="/assets/bitbucket.png" alt="Bit bucket logo">
  </div>
</div>
