<div class="content">
  <div class="block">
    <h1 id="title">ITEC 1018 Linux Essentials</h1>

    <p id="mainContent">This class went over the essential basics of using a Linux command line.
      The class touched on many different commands and how to use them.
      We started out with the very basics of commands and what tags where and how to use them.
      We also learned how to use the –help command along with how to read the manual pages.
      A good portion of time was spent learning to use Nano and Vim to make simple scripts within Linux.
      Towards the end I learned how to basic user set ups. How to change there UID’s along with their permissions.
      Along with setting up a directory for a specific group of people
      to work within that only they can read and write to. </p>

  </div>

  <div class="block">
    <img src="/assets/linux.png" alt="linux logo">
  </div>

</div>

