<div class="content main">
    <div class="block">
        <h1 id="title">SDEV 2110 Javascript</h1>
      <p>
        This course covered the basics of Javascript. It started out by teaching what the DOM is and how to interact with it.
        It taught how to change images and text elements on the screen with different events. Through this I learned
        about input validation and how to give the user feedback on improper feedback. I learned about regex and how to
        setup the forms to use it. I enjoyed learning about API's and how to use javascript to interact with them.
        One of the assignments had me use an API to look up different movies based on there titles. I was then able to
        display information such as plot, and actors to the user. Towards the end of the course it covered things such
        as OOP(object oriented programming) which is something that I am familiar with from other courses I have taken.
        Along with how to store data locally to create little "save" states. through out the course I was able to learn
        about different UI and css options available to Javascript such as Bootstrap. Several of the assignments I build
        used boot strap to quickly add styles to the page.
      </p>
      <p>
        Overall I enjoyed learning Javascript more than I thought I would. I didn't think I would like it because
        it is loosely written. But Throughout the course I was surprised by how that would simplify certain
        problems. Something I am excited to do more of that the course wasn't able to cover in depth is working with
        frameworks. While taking this course I was inspired to learn how to look into and learn about Angular. After
        watching some tutorials I decided to build this website. Though its not great now, I look forward to continuing
        to learn more about Angular and improving this site. In the future I hope to be able to look into frameworks
        such as Node.js, Ember, and React.
      </p>
    </div>
    <div class="block">
      <img id="javascript" src="/assets/javascript.png" alt="Javascript Logo">
    </div>
</div>
