<mat-toolbar>
  <button class="mat-focus-indicator" docs-button mat-button mat-button-base routerLink="/">HOME</button>
  <span class="navSpacer">/</span>
  <button class="mat-focus-indicator" docs-button mat-button mat-button-base routerLink="/about-me">ABOUT ME</button>
  <span class="navSpacer">/</span>

  <button class="mat-focus-indicator" mat-button mat-button-base [matMenuTriggerFor]="menu"
          #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">COURSE WORK
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <span (mouseleave)="menuTrigger.closeMenu()">
    <button mat-menu-item routerLink="/itec1018">1018 Linux Essentials</button>
    <button mat-menu-item routerLink="/sdev1022">SDEV 1022 HTML/CSS Basics</button>
    <button mat-menu-item routerLink="/sdev1041">SDEV 1041 SQL Programming Fundamentals</button>
    <button mat-menu-item routerLink="/sdev1060">SDEV 1060 Unit Testing</button>
    <button mat-menu-item routerLink="/sdev1090">SDEV 1090 Version control Fundamentals</button>
    <button mat-menu-item routerLink="/sdev2210">SDEV 2210 Java Programming I</button>
    <button mat-menu-item routerLink="/sdev2220">SDEV 2220 Java Programming II</button>
    <button mat-menu-item routerLink="/sdev2410">SDEV 2410 C#</button>
    <button mat-menu-item routerLink="/sdev2420">SDEV 2420 C#</button>
        </span>
  </mat-menu>



  <span class="navSpacer">/</span>
  <button class="mat-focus-indicator" docs-button mat-button mat-button-base routerLink="/course-work">BLOG</button>
  <span class="navSpacer">/</span>
  <button class="mat-focus-indicator" docs-button mat-button mat-button-base>CONTACT ME</button>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>




