<div class="container">
  <div class="item">
    <h2 class="text-center mb-5">Please contact me if you have any questions! </h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="FormData" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="email" name="Email" aria-describedby="emailHelp" placeholder="Enter email"
                     formControlName="Email">
              <mat-error *ngIf="FormData.controls.Email.hasError('required')">You must enter an Email</mat-error>
              <mat-error *ngIf="FormData.controls.Email.hasError('email')">Please enter a valid Email</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Full Name</mat-label>
              <input matInput type="text" name="Fullname" placeholder="Full Name" formControlName="Fullname">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Comment</mat-label>
              <textarea matInput formControlName="Comment" name="Comment"></textarea>
                </mat-form-field>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Submit</button>
          <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
        </form>
      </div>
    </div>
  </div>
</div>


