<div class="container">
  <div class="item">
    <h2 class="text-center mb-5">Angular Contact Form not Hosted On FireBase</h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
<!--        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">-->
        <form [formGroup]="FormData" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="email" name="Email" aria-describedby="emailHelp" placeholder="Enter email"
                     formControlName="Email">
              <mat-error *ngIf="FormData.controls.Email.hasError('required')">You must enter an Email</mat-error>
              <mat-error *ngIf="FormData.controls.Email.hasError('email')">Please enter a valid Email</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Full Name</mat-label>
              <input matInput type="text" name="Fullname" placeholder="Full Name" formControlName="Fullname">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Comment</mat-label>
              <textarea matInput formControlName="Comment" name="Comment"></textarea>
                </mat-form-field>

          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Submit</button>
          <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
        </form>
      </div>
    </div>
  </div>
</div>


<!--<div class="headerContainer">-->
<!--  <div class="contactMe">-->

<!--    <form (ngSubmit)="submitForm()" #contactForm="ngForm">-->
<!--      <div class="field">-->
<!--        <label class="label">Name</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          name="name"-->
<!--          class="input"-->
<!--          [(ngModel)]="name"-->
<!--          #nameInput="ngModel"-->
<!--          required>-->
<!--        <div-->
<!--          class="help is-error"-->
<!--          *ngIf="nameInput.invalid && nameInput.touched">-->
<!--          Your name is required-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="field">-->
<!--        <label class="label">Email</label>-->
<!--        <input type="email" name="email" class="input" [(ngModel)]="email" #emailInput="ngModel" required>-->
<!--        <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">Your Email is required and needs to be a valid email</div>-->
<!--      </div>-->
<!--      <div class="field">-->
<!--        <label class="label">Your Message</label>-->
<!--        <textarea name="message" class="textarea" [(ngModel)]="message" #messageInput="ngModel" required></textarea>-->
<!--        <div class="help is-error" *ngIf="messageInput.invalid && messageInput.touched">A message is required</div>-->
<!--      </div>-->
<!--      <button-->
<!--        type="submit"-->
<!--        class="button is-large is-warning"-->
<!--        [disabled]="contactForm.invalid">-->
<!--        send!-->
<!--      </button>-->
<!--    </form>-->


<!--    <form class="example-form">-->
<!--      <mat-form-field class="example-full-width" appearance="fill">-->
<!--        <mat-label>Email</mat-label>-->
<!--        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"-->
<!--               placeholder="Ex. pat@example.com">-->
<!--        <mat-hint>Errors appear instantly!</mat-hint>-->
<!--        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
<!--          Please enter a valid email address-->
<!--        </mat-error>-->
<!--        <mat-error *ngIf="emailFormControl.hasError('required')">-->
<!--          Email is <strong>required</strong>-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="example-full-width" appearance="fill">-->
<!--        <mat-label>Email</mat-label>-->
<!--        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"-->
<!--               placeholder="Ex. pat@example.com">-->
<!--        <mat-hint>Errors appear instantly!</mat-hint>-->
<!--        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
<!--          Please enter a valid email address-->
<!--        </mat-error>-->
<!--        <mat-error *ngIf="emailFormControl.hasError('required')">-->
<!--          Email is <strong>required</strong>-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
<!--    </form>-->

<!--  </div>-->
<!--</div>-->


