<div class="content main">
  <div class="block">
    <h1 id="title">SDEV 1022<br>HTML/CSS Basics</h1>
    <p>This class started from the basis of HTML, added CSS and built on the bases of these two languages until I was
      able to create a working professional website from scratch. It also covered some of the basics for Javascript, and
      PHP. How to use an FTP application and other ways to develop and manage websites and web applications.
    </p>
      <p>
      Many Web Designers just use CMS’s to create/develop websites but lack the knowledge of HTML and CSS to back up
      what they create. Through this course I have learned those skills and had the opportunity to practice them. The
      images bellow is an example of the Website I was able to design from scratch using HTML and CSS. </p>
  </div>
  <div class="block">
    <img src="/assets/ExampleFinishedWebpage.PNG" alt="Example image from a simple example website I built for a class">
    <img src="/assets/ExampleFinishedWebpage2.PNG" alt="Example image from a simple example website I built for a class">
  </div>
</div>

