<div class="content main">
  <div class="block">
    <h1 id="title">SDEV 2420 C# II</h1>
    <p>This course was a continuation of 2410. This course started out teaching properties and using getters and setters
      with classes. One of my favorite things the course went over was LINQ. I thought that the ability to combine
      multiple groups of data together and then sort and group that data was really great. I also learned how to
      implement some more interfaces such as IEnumerable and IComparable. These were helpful for have more control of
      the objects that I was using. This course also covered the basics of using Async and Await and the ability to run
      multiple functions on different threads at once. There were also several assignments that used this to ensure that
      our GUI’s wouldn’t lock up while the user was waiting for a response. </p>
    <p>Overall I really enjoyed learning about and using c#. I will be looking for opportunities to continue using and
      learning the language through other projects.</p>
  </div>
  <div class="block">

  </div>
</div>
