<div class="content main">
  <div class="block">
    <h1 id="title">SDEV 1041 SQL<br>Programming Fundamentals</h1>
    <p>
      This course covered the basics of SQL and phpMyAdmin. The course started out with the basics of navigating through
      and understanding a data base. It covered how the columns are connected together and how to read and understand a
      designer. The course then covered everything from getting simple columns to subquieres and filtering groups of
      data. Another thing it covered was inner and outer joins along with unions.
    </p>
    <p>
      This course taught me the importance of being able to use a data base. There is so much useful information that
      you can get from a data base. This course will be helpful in any future career because I will have the knowledge
      to be able to pull simple queries from databases. This will allow me to be more efficient in my job.
    </p>
  </div>
  <div class="block">

  </div>
</div>
