<div class="content main">
  <div class="block">
    <h1 id="title">SDEV 2220 Java Programming II</h1>
    <p>In this course I was able to further learn about programming in Java. The first thing I learned about was
      recursion. For one of the projects I made a program that would perform a recursive binary search on a Sorted
      Random Number array. It was cool to see how the function would call its self to quickly find the number it was
      looking for. The next thing the course taught about was inheritance and polymorphism. I also learned about
      Exception Handling and when and where to use it. Along with how to read and write to and from files. The last big
      portion of the course was learning the basics of how to set up and use GUI’s. </p>
    <p>Overall I really enjoyed this course. I thought that exception handling was very useful specifically when it
      comes to getting user input. On many of my early programs if the user entered any invalid input the program would
      simply crash. Now I am able to test for and handle these exceptions. It was also cool to learn about creating
      GUI’s. For the final project I made a program that had a simple GUI that allowed the user to select from several
      different events. The program would then get the information about the event from a text file and display the
      information. It was also able to get user input about a new event and then store that information in a text
      file. </p>
  </div>
  <div class="block">
    <img id="java" src="/assets/java.png" alt="Java Logo">
  </div>
</div>
