<div class="content main">
  <div class="block">
    <h1 id="title">SDEV 2210 Java Programming I</h1>
    <p>This course covered the basics of Java. The course can be broken down into several different modules. The first
      covered the basic syntactic of java. The second covered the basic controls and how to use imports, along with
      functions such as math and random. The next module started teaching about object oriented programming. It went
      over things like setting up a class and defining a method. It also covered setting up custom constructors for each
      object and how to overload those constructors. The last module covered arrays and data structures. I learned about
      Array Lists and linked lists, along with the advantages and disadvantages of both. In this module I learned how to
      store objects inside of arrays and array lists so they could be easily accessed later. Throughout this course I
      used the NET Beans IDE to code all of the assignments. </p>
    <p>Overall I think that the biggest thing I took away from this course is the Object oriented programming portion.
      This was the first time I learned about and used objects within my coding projects. It is something that I will
      continue practicing. Another thing I took away was how easy it was to store objects inside of Arrays lilts. There
      was an assignment to create a store inventory that the user would build through input. Each item had a name, a
      price, and a quantity. This assignment was made easy by assigning each of those as an object to the array list.
      Then using a for each loop I was able to display it back to the user. </p>
  </div>
  <div class="block">
      <img id="netbeans" src="/assets/netbeans.png" alt="Net beans IDE logo">
  </div>
</div>
