<div class="content main">
  <div class="block">
    <h1>Course Work</h1>

    <p>I have always loved computers. While I was attending High School I was able to take a course the covered the
      basics for Visual Basics, and Java. I have loved Programming ever since. I have decided to further my education at
      Davis Tech so I can gain the required skills I need to start gaining experience in the job field.</p>
    <p>
      Here is a list of classes I have completed while at Davis Tech. Clinking on any of them will provide you with
      more information on what the course taught and some examples of projects that I have made. </p>
  </div>

  <div class="block" id="list">
    <ul>
      <li routerLink="/itec1018">ITEC 1018 LINUX Essentials</li>
      <li>SDEV 1022 HTML/CSS Basics</li>
      <li>SDEV 1041 SQL Programming Fundamentals</li>
      <li>SDEV 1060 Unit Testing</li>
      <li>SDEV 1090 Version Control Fundamentals</li>
      <li>SDEV 2210 Java Programming I</li>
      <li>SDEV 2220 Java Programming 2</li>
    </ul>
  </div>
</div>
