<div class="content main">

  <div class="block">
    <div class="welcome">
      <h1>Welcome</h1>
      <h2>Thank you for viewing my Portfolio</h2>
    </div>

    <p>Allow me to introduce myself. My name is Tanner Smith and I am currently attending Davis Technical College
      studying software development. I currently work at Williams International as an intern. I plan on eventually
      earning a Computer Science degree from Weber state university.</p>

    <h4>Through This Portfolio you can access</h4>
    <ul>
      <li routerLink="/about-me">My Current Education and Coursework</li>
      <li routerLink="/course-work">My Projects</li>
      <li routerLink="/contact-me">My contact Information</li>
    </ul>
  </div>

  <div class="block">
    <img id="myImage" src="/assets/tanner.jpg" alt="Image of me, Tanner Smith">
  </div>

</div>


