<div class="content main">
  <div class="block">
    <h1 id="title">SDEV 2410 C# I</h1>
    <p>This course focused on c#. This course covered everything from the basics, exception handling and object oriented
      programming. All the way up to using inheritance, interfaces, and abstract classes. It was cool to see how
      powerful interfaces can be, and how implementing them can be helpful. I haven’t ever used abstract classes until
      now. I can think of several past school projects that probably could have used abstract classes to simply the
      project.</p>
    <p>Overall I really enjoyed learning about and using c#. It has definitely been my favorite language so far to have
      learned. There are some small projects that my friends have been working on occasionally that I will now be able
      to start helping with. </p>
  </div>
  <div class="block">

  </div>
</div>
