<div class="content main">
  <div class="block">
    <h1 id="title">SDEV 1060 Unit testing</h1>

    <p>This course covered the basics of unit tests and why we use them. It started out by teaching the basic unit tests
      and how to test one unit or method at a time. I learned how to build a unit test table. If you don’t thoroughly
      test the code there will be chances of it still breaking. Throughout the course I learned how to use things like
      runners to be able to make my tests more effective. I was also able to use test suites to be able to tests lots of
      different methods all with one click. </p>
    <p>Overall this course taught me why it is important to unit test and how by doing unit tests while building code
      you can prevent bugs from breaking the code long term. I will be able to apply this course into my future jobs. By
      applying unit testing my code will be more effective and will run smoother. </p>

  </div>
  <div class="block">

  </div>
</div>
