<div class="content main">
  <div class="block">
    <h1>About Me</h1>
    <h2>Work Experience</h2>

    <h3>Maintenance Intern - Williams International</h3>
    <ul>
      <li>I was responsible for the organization and cataloging of various spare parts.
        Along with continually maintaining the spare parts area after the inventory was finished.
      </li>
    </ul>
  </div>

  <div class="block">
    <img id="williams" src="../../../assets/williamsInt.png" alt="Logo for Williams International">
  </div>
</div>

<div class="content2 main">
  <div class="block">
    <h2>Education</h2>

    <h3>Davis Technical College</h3>
    <ul>
      <li>2019 - Present</li>
      <li>Studying Software Development</li>
      Fremont High School
      <li>Graduated - 2015</li>
    </ul>
  </div>

  <div class="block">
    <img id="davisTech" src="../../../assets/davisTechLogo.png" alt="davis technical college logo">
  </div>
</div>
