<div class="content main">

  <div class="block">
    <h1>SDEV 1040 Database Development Fundamentals</h1>
    <p>
      This course covered the basics of developing databases. It started out by teaching how
      to add, delete, and edit Tables and Columns in an existing database. After that it moved
      to creating entire databases from scratch. In this course I would use SQL in an editor
      to build the database. I used the create function to build the tables and then Insert to
      add the values. Part of this section of the course I also learned about normalizing data.
      This was an important part of being able to take raw data and turn that into tables and
      columns. Along with being able to make primary and foreign keys.
    </p>
    <p>
      Overall I enjoyed this course more than I thought I would. Building databases is
      definitely an important skill to have. I will be taking what I have learned here
      and applying it to my discord bot project. I want to be able to have the bot access
      a database so it can keep track of certain values. The bot will be able to play games
      with users and I would like it to be able to track points long term for each user.
      I now have the skills required to build and normalize that database as it grows and
      expands beyond just tracking user points.
    </p>
  </div>
  <div class="block">
<!--      DataBase fundamentals-->
  </div>
</div>
